@import url('https://fonts.googleapis.com/css?family=Caveat');

div.body {
  width: 960px;
  margin: auto;
  font-family: 'Caveat', cursive;
  color: #000;
}

div.body header {
  border-bottom: solid 1px #000;
}

div.body p {
  font-size: 20px;
}

.center {
  text-align: center;
}

ul {
  font-size: 18px;
}

ul li {
  margin-bottom: 5px;
}

#disqus_thread {
  padding: 20px;
}

@media only screen and (min-width: 640px) {
  .giphy-wrap {
    width: 480px;
    margin: auto;
  }
}


@media only screen and (max-width: 480px) {
  div.body {
    width: 100%;
  }
}
